# {{ ansible_managed }}
database: postgres://{{ psql_dbs['maubot']['user'] }}:{{ psql_dbs['maubot']['password']|urlencode() }}@localhost/maubot
server:
    hostname: {{ matrix_rp_listen_address }}
    public_url: {{ matrix_external_url }}

registration_secrets:
    {{ matrix_domain }}:
        url: http://localhost:8009
        secret: {{ matrix_registration_shared_secret }}

admins:
    {{ maubot_admin_user }}: {{ maubot_admin_password }}

logging:
    version: 1
    formatters:
        colored:
            (): maubot.lib.color_log.ColorFormatter
            format: '[%(asctime)s] [%(levelname)s@%(name)s] %(message)s'
        normal:
            format: '[%(asctime)s] [%(levelname)s@%(name)s] %(message)s'
    handlers:
        file:
            class: logging.handlers.RotatingFileHandler
            formatter: normal
            filename: ./maubot.log
            maxBytes: 10485760
            backupCount: 10
        console:
            class: logging.StreamHandler
            formatter: colored
    loggers:
        maubot:
            level: INFO
        mautrix:
            level: INFO
        aiohttp:
            level: INFO
    root:
        level: INFO
        handlers: [file, console]
