# {{ ansible_managed }}
homeserver:
    address: http://localhost:8009
    domain: {{ matrix_domain }}

appservice:
    address: http://{{ matrix_rp_listen_address }}:29317
    hostname: {{ matrix_rp_listen_address }}
    database: postgres://{{ psql_dbs['mautrix-telegram']['user'] }}:{{ psql_dbs['mautrix-telegram']['password']|urlencode() }}@localhost/mautrix-telegram

    public:
        enabled: true
        prefix: /telegram
        external: {{ matrix_external_url }}/telegram

    provisioning:
        enabled: false
        shared_secret: null

    bot_displayname: Telegram {{ matrix_bridge_name_suffix }}

    community_id: "+telegram:{{ matrix_domain }}"

# FIXME Prometheus telemetry config. Requires prometheus-client to be installed.
metrics:
    enabled: false
    listen_port: 8000

bridge:
    displayname_template: '{displayname}'
    # Shared secret for https://github.com/devture/matrix-synapse-shared-secret-auth
    # FIXME
    # If set, custom puppets will be enabled automatically for local users
    # instead of users having to find an access token and run `login-matrix`
    # manually.
    login_shared_secret:
    max_document_size: {{ synapse_max_upload_size_mb }}

    encryption:
        allow: true

    delivery_receipts: true

    bridge_notices:
        default: true

    state_event_formats:
        join: ''
        leave: ''

    permissions:
        '*': relaybot
        {{ matrix_domain }}: full
{% if matrix_bridge_other_homeservers is defined %}
{% for item in matrix_bridge_other_homeservers %}
        {{ item }}: full
{% endfor %}
{% endif %}
{% if matrix_bridge_admins is defined %}
{% for item in matrix_bridge_admins %}
        '{{ item }}': admin
{% endfor %}
{% endif %}

telegram:
    api_id: {{ matrix_telegram_api_id }}
    api_hash: {{ matrix_telegram_api_hash }}
    bot_token: {{ matrix_telegram_bot_token }}

logging:
    version: 1
    formatters:
        precise:
            format: '[%(asctime)s] [%(levelname)s@%(name)s] %(message)s'
    handlers:
        file:
            class: logging.handlers.RotatingFileHandler
            formatter: precise
            filename: ./mautrix-telegram.log
            maxBytes: 10485760
            backupCount: 10
        console:
            class: logging.StreamHandler
            formatter: precise
    loggers:
        mau:
            level: INFO
        telethon:
            level: INFO
        aiohttp:
            level: INFO
    root:
        level: INFO
        handlers: [file, console]
